@page "/breakout-table/"
@model BreakoutModel
@{
    ViewBag.Title = "Tabulator with breakout editing";
}

<h1 class="display-4">@ViewBag.Title</h1>
<p>Using a tabulator with break out editing functionality (cliking each item opens a new window).</p>

<div id="breakout-table" class="vh-75"></div>

<script>
var table = new Tabulator("#breakout-table", 
{
    height:"75vh",
    layout:"fitColumns",
    persistence:true,
    persistenceMode:true,
    responsiveLayout:"hide",
    ajaxURL:"./?handler=items", 
    placeholder:"No Data Available",
    movableColumns:true,
    rowContextMenu: breakoutRowMenu,
    rowClick: breakoutClick,
    initialSort:[
        {column:"name", dir:"asc"},
    ],
    columns:[
        {title:"Name", field:"name", sorter:"string", width:200},
        {title:"Progress", field:"progress", hozAlign:"left", formatter:"progress"},
        {title:"Gender", field:"gender", sorter:"string"},
        {title:"Rating", field:"rating", formatter:"star", hozAlign:"center", width:100},
        {title:"Favourite Color", field:"color", sorter:"string"},
        {title:"Date Of Birth", field:"dateOfBirth", sorter:"date", hozAlign:"center"},
        {title:"Driver", field:"driver", hozAlign:"center", formatter:"tickCross", sorter:"boolean"},
    ],
});
</script>