@page "/table-inline/"
@model InlineModel
@{
    ViewBag.Title = "Tabulator with inline editing";
}

<h1 class="display-4">@ViewBag.Title</h1>
<p>Using a tabulator with inline editing functionality (items can be edited inside the grid).</p>

<div id="inline-table" class="vh-80"></div>

<script>
var table = new Tabulator("#inline-table", 
{
    height:"80vh",
    layout:"fitColumns",
    persistence:true,
    persistenceMode:true,
    ajaxURL:"./?handler=items", 
    placeholder:"No Data Available",
    columns:[
        {title:"Name", field:"name", sorter:"string", width:200, editor:true},
        {title:"Progress", field:"progress", hozAlign:"left", formatter:"progress", editor:true},
        {title:"Gender", field:"gender", sorter:"string", editor:"select", editorParams:{values:["male", "female"]}},
        {title:"Rating", field:"rating", formatter:"star", hozAlign:"center", width:100, editor:true},
        {title:"Favourite Color", field:"color", sorter:"string", editor:true},
        {title:"Date Of Birth", field:"dateOfBirth", sorter:"date", hozAlign:"center", editor:true},
        {title:"Driver", field:"driver", hozAlign:"center", formatter:"tickCross", sorter:"boolean", editor:true},
    ],
});
</script>