@page "/inline-table"
@model InlineModel
@{
    ViewBag.Title = "Tabulator with inline editing";
    var currentUrl = @Url.RouteUrl(ViewContext.RouteData.Values);
}

<h2>@ViewBag.Title</h2>
<p>Using a tabulator with inline editing functionality (items can be edited inside the grid).</p>

<div id="inline-table" class="vh-80"></div>

<script>
var table = new Tabulator("#inline-table", 
{
    height:"80vh",
    layout:"fitData",
    persistence:true,
    persistenceMode:true,
    ajaxURL:"@currentUrl/?handler=items", 
    rowContextMenu: inlineRowMenu,
    placeholder:"No Data Available",
    columns:[
        {title:"Name", field:"name", sorter:"string", width:200, editor:true, headerMenu:headerMenu},
        {title:"Progress", field:"progress", hozAlign:"left", formatter:"progress", editor:true, headerMenu:headerMenu},
        {title:"Gender", field:"gender", sorter:"string", editor:"select", editorParams:{values:["male", "female"]}, headerMenu:headerMenu},
        {title:"Rating", field:"rating", formatter:"star", hozAlign:"center", width:100, editor:true, headerMenu:headerMenu},
        {title:"Favourite Color", field:"color", sorter:"string", editor:true, headerMenu:headerMenu},
        {title:"Date Of Birth", field:"dateOfBirth", sorter:"date", hozAlign:"center", editor:true, headerMenu:headerMenu},
        {title:"Driver", field:"driver", hozAlign:"center", formatter:"tickCross", sorter:"boolean", editor:true, headerMenu:headerMenu},
    ],
});
</script>