@page "/Status404"
@{
    ViewBag.Title = "Page not found";
}

<h1 class="display-4">@ViewBag.Title</h1>
<p>Looks like you took a wrong turn somewhere along there, think hard about why you are here and reconsider the life choices that brought you here.</p>
